<script type="text/javascript">
  $(function() {
    $("#grid").qtip({
      content: '<div class=\"calendar_hover\" id=\"qtip_body\"><div class=\"title_bar\"><h2 class=\"on\" lang=\"en\">Pre order</h2></div></div>',
      type: "relative",
      style: {
        padding: 0,
        width: 410,
        border: {
          width: 4,
          color: '#575757',
          radius: 8
        }
      },
      effect: {
        type: "fade",
        length: 100
      },
      position: {
        target: "mouse",
        adjust: {
          mouse: true,
          screen: true,
          x: 30,
          y: 0
        }
      }
    });
    $("a.product").mouseenter(function() {
      $("#qtip_body").load("/products/" + $(this).attr("id"));
    });
  });
</script>