<script type="text/javascript">
  $(function() {
    $("#grid").qtip({
      content: '<div class=\"calendar_hover\" id=\"qtip_body\"><div class=\"title_bar\"><h2 class=\"on\" lang=\"en\">Pre order</h2></div></div>',
      type: "relative",
      style: {
        padding: 0,
        width: 410,
        border: {
          width: 4,
          color: '#575757',
          radius: 8
        }
      },
      effect: {
        type: "fade",
        length: 100
      },
      position: {
        target: "mouse",
        adjust: {
          mouse: true,
          screen: true,
          x: 30,
          y: 0
        }
      }
    });
    $("a.product").mouseenter(function() {
      $("#grid").qtip("api").updateContent("<div id=\"qtip_body\"><h2>" + (($(this).attr("data-qoh") == "1") ? "<%= live? ? "In Stock - Click the tile to preorder" : "Pre-order goes live Monday at 12:00pm EST" %>" : "<span class=\"sold_out_header\">Sold</span>") + "</h2><div style=\"width: 100%;\" class=\"diver\"><div class=\"qtip_body_left\"><img src=\"/images/products/" + $(this).attr("data-image") +".jpg?\" alt=\"Tla-cd_release_show-3\"></div><div class=\"qtip_body_right\"><p>" + $(this).attr("data-description") + "</p><div class=\"price\">Price: $" + (($(this).attr("data-qoh") == "1") ? $(this).attr("data-price") : ("<span class=\"sold_out\">" + $(this).attr("data-price") + "</span>")) + "</div></div><br clear=\"all\"></div><center style=\"border-top: 1px solid grey;\"><p>Questions? Email: preorder@discobiscuits.com</p></center></div>");
    });
  });
</script>