%center
  %h1 Planet Anthem 3:16
  %img#background_img{:src => "images/background.png"}
  #grid
    - @product_presenter.tiles.each_slice(@product_presenter.smallest_square) do |row|
      .row
        -row.each do |tile|
          %a.product{:id => tile.id, :class => [tile.image_class, @product_presenter.product_class(tile)].join(" "), :href => "https://store.discobiscuits.com/pre_order.php?id=#{tile.store_id}"}
    %br{:clear => "all"}
  = render :partial => "fade_effect"
  = render :partial => "overlays"